In [1]:
# This R environment comes with many helpful analytics packages installed
# It is defined by the kaggle/rstats Docker image: https://github.com/kaggle/docker-rstats
# For example, here's a helpful package to load

library(tidyverse) # metapackage of all tidyverse packages

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

list.files(path = "../input")

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Use the [Week 1 Quiz Data Set](https://d396qusza40orc.cloudfront.net/rprog/data/quiz1_data.zip) to answer questions 11-20.

In the dataset provided for this Quiz, what are the column names of the dataset?

Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [2]:
data = read.csv('../input/r-intro-1/hw1_data.csv')
data[1:2,] # or head(data, 2)

How many observations (i.e. rows) are in this data frame?

In [3]:
dim(data)[1]

Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

In [4]:
tail(data, 2)

What is the value of Ozone in the 47th row?

In [5]:
data$Ozone[47]

How many missing values are in the Ozone column of this data frame?

In [6]:
sum(is.na(data$Ozone))

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

In [7]:
mean(data[!is.na(data$Ozone),]$Ozone)

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of Solar.R in this subset?

In [8]:
subs = subset(data, Ozone > 31 & Temp > 90)
mean(subs$Solar.R)

What is the mean of "Temp" when "Month" is equal to 6?

In [9]:
mean(data[data$Month == 6,]$Temp)

What was the maximum ozone value in the month of May (i.e. Month is equal to 5)?

In [10]:
max(data[data$Month == 5 & !is.na(data$Ozone),]$Ozone)